[Desktop Entry]
Encoding=UTF-8
Name=WMPop3LB
Comment=Multi POP3 accounts mailbox monitor
Comment[pl]=Monitor skrzynek pocztowych POP3
Exec=wmpop3lb
Terminal=false
Type=Application
Categories=Applet;
NotShowIn=GNOME;KDE;
# vi: encoding=utf-8
